body {
    background: white;
}

#box-input {
    border: black;
    display: grid;
    height: 50%;
    align-items: end;
}

#rsChat {
    height: 47%;
}

input {
    width: 80%;
    height: 40px;
}

button {
    width: 18%;
    height: 40px;
}

.result {
    width: 100%;
}